<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A portfolio template that uses Material Design Lite.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Dwaipa0yan Saha</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-pink.min.css" />
    <link rel="stylesheet" href="../assets/styles.css" />


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
            <div class="mdl-layout__header-row portfolio-logo-row">
                <span class="mdl-layout__title">
                    <div class="portfolio-logo"></div>
                    <span class="mdl-layout__title" >Dwaipayan Saha. Full Stack Developer. Jaypee Institute Of Information Technology Noida Sec-62.</span>
                    <span class="mdl-layout__title" >A Static website potraying the projects that I have made.</span>
                </span>
            </div>
            <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
                <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                    <a class="mdl-navigation__link is-active" href="index.html">Portfolio</a>

                    <a class="mdl-navigation__link" href="contact.html">Contact</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer mdl-layout--small-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link is-active" href="index.html">Portfolio</a>
                <a class="mdl-navigation__link" href="blog.html">Blog</a>
                <a class="mdl-navigation__link" href="about.html">About</a>
                <a class="mdl-navigation__link" href="#Bottom">Contact</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width">
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src="../assets/images/hermes.png" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Hermes</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                      Hermes is an all access portal to everything going on in the college. Ranging from events to study material and so on.

The project involves making the basic setup of the webapp. The frontend is setup using reactjs on redux. The back end is setup on PostgreSQL and Golang. My role is to develop the databases along with the REST api
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="http://www.github.com/wimpykid26/Hermes">See Code</a>
                    </div>
                </div>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src="../assets/images/Zeus.png" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Zeus</h2>
                    </div>
                    <div class="mdl-card__supporting-text">


Project description
Zeus is a recommendation portal for articles and music. It uses both user user similarity and article article similarity to compute the recommendations.

The project involved writing the recommendation module in Python and Incorporating it with the Webapp made using Reactjs, expressjs, Mongodb and Flask.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="http://www.github.com/wimpykid26/Zeus">See Code</a>
                    </div>
                </div>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src=" ../assets/images/example-work02.jpg" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Document Classifier</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Uses Apache Lucene and Python Gensim to classify documents using a Naive Bayess Classifier. Nltk implementation gave very less accuracy
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://github.com/wimpykid26/DocumentClassifier">See Code</a>
                    </div>
                </div>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src=" ../assets/images/example-work03.jpg" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Article Similarizer</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Uses Python Gensim to calculate similarity for a recommendation engine.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://github.com/wimpykid26/ArticleSimilarity">See code</a>
                    </div>
                </div>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src=" ../assets/images/gitter.png" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">OSDC-bot</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        The bot lives in the osdc channel in Gitter. It has a language parser made with the help of Python Nltk. The parser chunks out information from the input and then the bot does actions likewise. It has a wide array of functions such as location, joke, temperature etc.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="http://github.com/wimpykid26.osdc-bot">See code</a>
                    </div>
                </div>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src=" ../assets/images/example-work08.jpg" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">InSwipes Data Handling</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        The project required summarizing, categorizing and crawling news articles from various sources such as Google News to be shown in an Android Application. To build the summarizer, Machine Learning algorithms were used alongwith a ranking algorithm. The summarizer was written in Java while the crawler was written in Python. A dashboard in PHP was also created to manipulate data in the back end.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="">See Code</a>
                    </div>
                </div>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src=" ../assets/images/example-work05.jpg" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Clickbins User Interface</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Clickbins is a startup catering to waste management and disposal. We had to develop the user-side Android application for the system. The main architecture composed of a backend structure from which data was taken after going through certain validation procedures.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="">See Code</a>
                    </div>
                </div>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src=" ../assets/images/sampleMaps.png" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">CriminalHotspot</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Criminal Hotspot takes into input real time data from police databases and clusters the crimes according to their location and displays them on a map.
                        This will help in setting up police stations at the right place at the right time.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="www.github.com/wimpykid26/sampleMaps">See Code</a>
                    </div>
                </div>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src=" ../assets/images/webmemex.png" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Webmemex</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Mozilla extension that is a part of Worldbrain's project. Worldbrain is a GSOC organization that is looking to memoize the internet.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="www.github.com/wimpykid26/webmemex-extension">See Code</a>
                    </div>
                </div>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src=" ../assets/images/woostyle.png" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Woostyle User Interface</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                      The project was basically to develop a website for the users of an E-commerce enterprise. It required us to build both the backend and front platform. Backend was done using SQL and the front end comprised of HTML CSS and JavaScript. This was done by my team members.

Also it involved integrating API's of other e-commerce websites such as Amazon and Flipkart.
This part of the project was done by me. It required sending requests through cURL via PHP scripts.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="">See Code</a>
                    </div>
                </div>
              </div>
            <footer class="mdl-mini-footer" name="Bottom">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">Simple portfolio website</div>
                </div>
                <div class="mdl-mini-footer__right-section">
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Privacy & Terms</a></li>
                    </ul>
                </div>
            </footer>
        </main>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>
